/*
 *  SITE WIDE CSS GOES IN HERE
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #eee url('/static/img/background-texture.png');
    margin-bottom: 60px;
}

footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    /*background-color: #f5f5f5;*/
}

.transparent {
    background-color: transparent;
}

input.form-control {
    border-radius: 2px;
}

button.btn {
    border-radius: 2px;
}

div.panel,.well, table {
    border-radius: 2px;
}
